.tarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.editar-tarea {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}