/* 
    CSS colors:

    lightblue: #add8e6
    darkblue2: #1f618d
    taskcolor: #5499c7
*/

.container {
    width: 40vw;
    height: 80vh;
    margin: 0 auto;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.fecha {
    color: black;
    padding: 50px 0 0 0;
    font-size: clamp(1rem, 2vw, 1.8rem);

}

/* ADD TASK */

.add-task {
    height: 70px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #add8e6;
    border-radius: 0.5rem;
    margin: 40px 0;
    color: white;
    gap: 3rem;
    border: 2px solid black;
}

.add-task input {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: solid 2px #1f618d;
    background-color: white;
}

.add-task input::placeholder {
    font-size: 1.1rem;
    color: black;
    text-align: center;
}

.add-task button {
    background-color: #1f618d;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    cursor: pointer
}

.add-task button:hover {
    background-color: #5499c7;
    transform: scale(1.1);
}

/* SECTION LISTASK */

#lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px
}

.task input {
    width: 20px;
    height: 20px;
}

.completed p {
    text-decoration: line-through;
    color: green;
}

.taskItem {
    display: flex;
    background-color: #add8e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.taskItem button {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}